@page "/"
@rendermode InteractiveServer
@using zipackFrontend.Data
@inject ILogger<Home> Logger
@inject LanguageService LanguageService
@inject LanguageAPI LanguageAPI

@code {
    private List<LanguageAsset> _assets;
    private bool _isEnglish;

    protected override async Task OnInitializedAsync()
    {
        LanguageService.OnLanguageChanged += ReloadLang;
        Logger.LogInformation("Getting language assets...");
        _assets = await LanguageAPI.GetLanguageAssets();
        Logger.LogInformation("Got {0}!", _assets.Count);
        Logger.LogInformation("Home page initialized");
    }

    private string GetAsset(string key)
    {
        Logger.LogInformation("Getting asset for {0}...", key);

        if (_assets == null)
        {
            throw new InvalidOperationException("Language assets not loaded!");
            return key;
        }

        var asset = _assets.Find(a => a.Key == key);

        if (asset == null)
        {
            Logger.LogWarning("Asset not found: {0}", key);
            return key;
        }

        Logger.LogInformation("Found asset: {0}", key);

        return _isEnglish ? asset.EnEN : asset.DeDE;
    }

}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ReloadLang();
        }
    }

    private void ReloadLang()
    {
        Logger.LogInformation("Reloading language...");
        _ = UpdateLanguageState();
        Logger.LogInformation("Reload completed!");
    }

    private async Task UpdateLanguageState()
    {
        Logger.LogInformation("Updating language state...");
        string lang = await LanguageService.GetLanguageOrDefault();
        Logger.LogInformation("Got language: " + lang);
        _isEnglish = lang == "en";
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        LanguageService.OnLanguageChanged -= ReloadLang;
    }

}

<PageTitle>zipack.net | An all-in-one file solution</PageTitle>

<section class="bg-black">

<div class="w-full h-[100px] bg-black"></div>

<!-- TODO: Add the estimating assets through cms -->
@if (_assets != null)
{
    <div class="relative w-full mx-auto">
        <!-- Image Section Above "File Manager" -->
        <div class="relative w-full h-[200px] bg-black">
            <div class="absolute w-full h-full bg-cover bg-center rounded-lg"
                 style="background-image: url('./assets/images/zipacklogo.png'); background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
        </div>

        @code {
            private bool _isExpanded = false;

            private void ToggleContainer()
            {
                _isExpanded = !_isExpanded;
                StateHasChanged();
            }

        }

        <!-- Main Section -->
        <div class="text-center py-12">
            @if (_isExpanded)
            {
                <div
                    class="bg-white mx-auto px-6 py-4 max-w-xl rounded-lg animate__animated animate__fadeIn button hvr-grow"
                    @onclick="ToggleContainer"
                    style="cursor: pointer">
                    
                    <h1 class="text-[28px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.Container.Title")</h1>
                    <p class="text-[16px] mt-4">@GetAsset("Pages.Home.Container.Part.1")</p>
                    <p class="text-[16px] mt-4">@GetAsset("Pages.Home.Container.Part.2")</p>
                    <p class="text-[16px] mt-4">@GetAsset("Pages.Home.Container.Part.3")</p>

                    <h2 class="text-[20px] font-staatliches tracking-[3px] mt-6">@GetAsset("Pages.Home.Container.Footer")</h2>

                </div>
            }
            else
            {
                <h1 class="animate__animated animate__zoomIn">
                    <a class="button hvr-grow" @onclick="ToggleContainer" style="cursor: pointer">
                        <div class="bg-white mx-auto px-6 py-4 max-w-4xl rounded-lg">
                            <h1 class="text-[36px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.allinone")</h1>
                            <h2 class="text-[36px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.filemanager")</h2>
                        </div>

                    </a>
                </h1>
            }
        </div>

        <!-- Image Section Below "File Manager" -->
        <div class="relative w-full h-[500px] bg-black">
            <div class="absolute w-full h-full bg-cover bg-center rounded-lg"
                 style="background-image: url('./assets/images/200+.png'); background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
        </div>

        <!-- Features Section (Easy & Fast) -->
        <div class="bg-white py-10">
            <div class="flex flex-col md:flex-row justify-between items-center px-6 md:px-12 lg:px-20">
                <div class="text-center md:text-left mb-6 md:mb-0">
                    <h3 class="text-black text-[48px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.Easy")</h3>
                    <h3 class="text-black text-[48px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.Fast")</h3>
                </div>
                <h1 class="animate__animated animate__slideInRight">
                    <div
                        class="w-[500px] h-[300px] bg-cover bg-center rounded-lg transform transition duration-300 hover:scale-110"
                        style="background-image: url('./assets/images/openerPNG.PNG'); background-size: 100% 100%;">
                    </div>
                </h1>
            </div>
        </div>

        <!-- Manage Your Files Section -->
        <div class="bg-black text-white py-10">
            <div class="text-center px-6">
                <h3 class="text-[36px] font-staatliches tracking-[3px] leading-tight">
                    @GetAsset("Pages.Home.ManageFiles")
                </h3>
            </div>
            <h1 class="animate__animated animate__slideInLeft">
                <div
                    class="w-[500px] h-[300px] bg-cover bg-center rounded-lg mx-auto mt-6 transform transition duration-300 hover:scale-110"
                    style="background-image: url('./assets/images/Files.PNG'); background-size: 100% 100%;">
                </div>
            </h1>
        </div>

        <!-- Be Updated Section -->
        <div class="bg-white py-10">
            <div class="text-center px-6">
                <h3 class="text-black text-[36px] font-staatliches tracking-[3px]">@GetAsset("Pages.Home.BeUpdated.Title")</h3>
                <p class="text-[18px] font-sulphur-point mt-4">@GetAsset("Pages.Home.BeUpdated.Body")</p>
            </div>
        </div>

        <!-- Customizable Section -->
        <div class="bg-black text-white py-10">
            <div class="text-center px-6">
                <h3 class="text-[36px] font-staatliches tracking-[3px] leading-tight">
                    @GetAsset("Pages.Home.Customizable")
                </h3>
                <h3 class="text-[36px] font-staatliches tracking-[3px] leading-tight">
                    @GetAsset("Pages.Home.Professional")
                </h3>
                
            </div>
            <h1 class="animate__animated animate__slideInRight">
                <div
                    class="w-[500px] h-[300px] bg-cover bg-center rounded-lg mx-auto mt-6 transform transition duration-300 hover:scale-110"
                    style="background-image: url('./assets/images/Marketplace.png'); background-size: 100% 100%;">
                </div>
            </h1>
            <div class="text-center mt-8 relative group">
                <button
                    class="bg-[#802BB1] text-white text-[20px] font-sulphur-point px-6 py-2 rounded-lg transition duration-300 ease-in-out transform group-hover:scale-110 group-hover:bg-[#9c3cbb]">
                    Download
                </button>
                <a href="/download" class="absolute inset-0" aria-label="Download"></a>
            </div>
        </div>

        <!-- Footer Section -->
        <footer class="bg-black py-8 text-center text-gray-400">
            <p>&copy; 2025 Zipack. @GetAsset("Shared.RightsReserved")</p>
            <div class="mt-4 flex justify-center space-x-6">
                <a href="/download" class="hover:text-[#802BB1]">Download</a>
                <a href="/contact" class="hover:text-[#802BB1]">@GetAsset("Shared.Contact")</a>
                <a href="/support" class="hover:text-[#802BB1]">@GetAsset("Shared.Support")</a>
                <a href="/team" class="hover:text-[#802BB1]">Team</a>
                <a href="/donate" class="hover:text-[#802BB1]">
                    Donate
                </a>
                <a href="/imprint" class="hover:text-[#802BB1]">@GetAsset("Shared.Imprint")</a>
            </div>
        </footer>
    </div>
}

</section>
